body {
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('../images/grocery-background.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  padding: 8em 0;


}

/*----Toggle Class----*/

.line {
  text-decoration: line-through;
}

button:focus, input {outline:0;}

.main > h1 {
  font-family: 'Indie Flower', cursive;
  color: #FAE806;
  font-size: 4em;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 0;
}

h1 > span {
  color: #fff;
}

.button,
input[type="submit"] {
  background-color: #FAE806;
  color: #333;
  border: none;
  padding: 0.5em 2em;
  border-radius: 5px;
  font-size: 1.2em;
  margin-left: 1.25em;
}

.add-item {
  border: none;
  padding-left: 0.5em;
  border-radius: 5px;
  font-size: 2em;
  font-family: 'Indie Flower', cursive;
}

.add-section {
  width: 28.5em;
  margin: 0 auto;
}

.list-section {
  width: 40.625em;
  background: rgba(255, 255, 255, .3);
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 30px;
  padding: 30px 0;
}

#reset-btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.complete-btn {
  float: left;
  position: relative;
  top: 0.5em;
  left: 5.8em;
  padding-left: 15px;
  border: 1px solid #333;
  border-radius: 50%;
  background-color: #fff;
  height: 40px;
  width: 40px;
}

.display {
  display: block;
}

.check-mark
 {
  width: 45px;
  height: 45px;
  position: relative;
  bottom: 8px;
  right: 13px;
  display: none;
}

.list-section > ul > li {
  list-style: none;
  width: 40.625em;
  height: 3.125em;
  margin: 0 auto;
  margin-top: 20px;
}

.list-section > ul {
  padding: 0;
}

.list-section .list-item {
  width: 20em;
  height: 3.125em;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
  border: 1px solid #333;
  font-family: 'Indie Flower', cursive;
}

.list-section .list-item > p {
  margin-left: 0.5em;
  font-size: 2em;
  position: relative;
  bottom: 0.9em;
}

.remove-btn {
  width: 50px;
  height: 50px;
  color: red;
  background-color: #fff;
  border-radius: 10px;
  font-size: 1.5em;
  float: right;
  position: relative;
  bottom: 2.1em;
  right: 3.5em;
  border: 1px solid #333;
}

/*-----------TABLE-------------*/

table {
  margin-left: 4em;
  color: #FAE806;
  letter-spacing: 1px;
  font-size: 1.2em;
  font-weight: 300;
  width: 25.35em;
}

#list {
  padding-left: 7em;
}

#remove {
  padding-left: 9em;
}


/*----------MEDIA QUERIES-----------*/

@media only screen and (max-width: 750px) {
 
}  

















