body {
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('../images/grocery-background.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  padding: 8em 0;

}

button:focus, input {outline:0;}

.main > h1 {
  font-family: 'Indie Flower', cursive;
  color: #FAE806;
  font-size: 4em;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 0;
}

h1 > span {
  color: #fff;
}

.button {
  background-color: #FAE806;
  color: #333;
  border: none;
  padding: 0.5em 2em;
  border-radius: 5px;
  font-size: 1.2em;
  margin-left: 1.25em;
}

.add-item {
  padding: 0.5em 2em;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
}

.add-section {
  width: 26.5em;
  margin: 0 auto;
}

.list-section {
  width: 40.625em;
  background: rgba(255, 255, 255, .3);
  height: 25.625em;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 30px;
  padding: 30px 0;
}

#reset-btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

input[type="checkbox"] {
  transform: scale(3.6);
  float: left;
  position: relative;
  top: 18px;
  left: 4em;
  padding-left: 15px;
}

.list-section > ul > li {
  list-style: none;
  width: 40.625em;
  height: 50px;
  margin: 0 auto;
}

.list-section > ul {
  padding: 0;
}

.list-section .list-item {
  width: 25em;
  height: 50px;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
}

.remove-btn {
  width: 50px;
  height: 50px;
  color: red;
  background-color: #fff;
  border-radius: 10px;
  font-size: 1.5em;
  float: right;
  position: relative;
  bottom: 50px;
  right: 45px;
  
}

















